<!-- Decorator Based Content Queries -->
<div class="content-queries-demo">
    <h2>Decorator Based Content Queries</h2>
    <p>
        This component demonstrates how to use Angular's content queries with decorators to query content projected into
        the component.
    </p>

    <p>
        The content queries are set up in the component's TypeScript file, and the results are displayed below.
    </p>
</div>


<!-- Content Projection -->
<app-card>
    <!-- Content to be projected -->
    <div #header class="card-header">
        <p>Header</p>
    </div>
    <!-- body -->

    <!-- footer -->


</app-card>