.card-container {
    border: 1px solid #ddd;
    border-radius: 8px;

    height: 60dvh;
    width: 50dvw;
    margin: auto;

}

.card-header {
    background: #d0cece;
    padding: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-footer {
    padding: 1rem;
}