<h3 class="header">Default CD Strategy</h3>

<!-- <div class="default-cd">
    <button name="inc" type="submit" (click)="inc()">click me</button>
    <h4>{{count}}</h4>

</div> -->
<div class="default-cd-container">


    <div class="default-cd">

        <button name="incWithInterval" type="submit" (click)="incWithInterval()">Start</button>
        <button name="incWithInterval" type="submit" (click)="stop()">Stop</button>
        <h4>Timer Value: {{count}}</h4>

    </div>

    <div class="child-templates">

        <app-default-cd-demo-one />
        <app-default-cd-demo-two />
        
    </div>

</div>