.header{
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.onpush-cd-container {
    display: flex;
    justify-content: space-around;
}

.onpush-cd {
   display: flex;
   gap: 32px;
    
}